<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">De oprichting van onze club: een oud relaas</h2>
  
  <p><em>Reguul, uit Den Uyl, oktober 1932, maandelijks tijdschrift van het Algemeen Vlaams Hoogstudentenverbond (AVHV).</em></p>
  
  <p>Zoals elk mensenkind werd Reguul geboren. Tot hier niets buitengewoons. Maar niet elk menschenkind wordt geboren in het land van Oudenaerde en het vaderhuis van elke sterveling staat niet te Huisse, dat van Reguul wel.</p>
  <p>Zijn kinderjaren verliepen rustig in zijn geboortedorp doch, toen hij 12 jaar oud was, kreeg hij een valieske en een portemonee van zijn mama, nen echten splinternieuwen portemonee en Reguul ging naar ’t college –en pension-. Daar bracht hij zijn tijd door in deugd en eer, studie en gebed, daar maakte hij verzen in de stille ontroering van zijn hart, daar loste hij de puberteitscrisis op en bemachtigde zijn diploma van Rhetorica.</p>
  <p>Tot daar zijn verborgen leven!</p>
  <p>Nu zou Reguul aan de universiteit studeeren, aan de Alma Mater van het oude Leuven, en Reguul arriveerde bij de Petermannen, kocht een splinternieuw flatteke met één enkel sterretje, het eerste onnoozel sterretje van het gouden firmament dat Reguuls hoofddeksel heeft gesmukt.</p>
  <p>De eerste veertien dagen bracht Reguul op zijn kot door, verdiept in ernstige wetenschappelijke studie; maar weldra had het geweldig studentikoze leven hem te pakken en zou hem voortaan niet meer lossen. Reguul werd gedoopt in den Oudenaardschen, ging voor de eerste maal rollen en van toen af werd hij Het Reguul. Reguul werd beroemd en berucht en de klank van zijn naam weerklonk tot in Carthago en Chicago.</p>
  <p>Reguul zwierde het woord in nachtelijke uren, en meer dan eens in het holle van den nacht, over de balustrade van de Dijle geleund, zong hij zijn nachtlied aan den snelvlietenden stroom; en de vloed van zijn klanken en andere dingen die van zijn lippen vloeiden, ging zich vermengen met het zilveren geluid der rivier –Wanderers Nachtlied.</p>
  <p>Wie kan al de avonturen recenseeren, katalogeeren ende opsommen, wie kan al de peripetieën verhalen van Reguuls studententijd te Leuven. Geen woorden kunnen het zeggen en geen pennen het beschrijven.</p>
  <p>Reguul was de eeuwige gedienstige! Weet gij ’t nog toen gij ‘Renétje’ leerdet, zijn keel averechts te gebruiken, om zijn maag en verstand van den geurigen nectar te ontlasten?</p>
  
  <div class="caption caption-center">
    <img class="caption-image" src="/assets/images/schets-regule.jpg" alt="Schets Regule Depraetere">
    <p class="caption-text">
      Schets Regule Depraetere
    </p>
  </div>
  
  <p></p>Toen Reguul vier volle jaren te Leuven had doorgebracht, werd de Gentsche Universiteit vernederlandscht, en Reguul spreidde zijn vleugelen open en landde aan te Gent. Daar zou hij met Jef en Broecki den Oudenaardssche Club fondeeren, en het eerste drieledig bestuur was zeer gewichtig, want het woog ampertjes 300 kilo!<p></p>
  <p>Reguul is het geweest die twee jaren lang den Oudenaardschen Club heeft geanimeerd en hem doen zwieren ende tieren. Hij was steeds de man die… t.t.z. dat, het woorde lanceerde uren lang ‘de omnibus rebus scibilis atque inscilibis et quibusdom aliis’ over de meest moeilijke en ingewikkelde problemen die zich voordoen aan de hersenen eens students. Hij was de man die… t.t.z. dat, steeds de gewenschte ende gepaste conclusies wist te trekken uit de excentriekste onderwerpen. Hij was het man –het man dat speechte in verzen, met Catschiaansen dreun en onregelmatige censuur, maar steeds rijmen en lijmend, zijn gedachte wringend in het keurslijf van de meest ongewone uitdrukkingsvermogen, in het stalen pantser van oude ablatieven en genitieven, in het ijzeren harnas van tegenwoordige, verleden en toekomstige deelwoorden.</p>
  <p>Reguul, eigenlijk had gij filoloog moeten worden, gij hebt uw roeping gemist.</p>
  <p>Steeds heeft Reguul weten te ontsnappen aan de fijnste listen en hinderlagen aller Gentsche pandoeren; uitgenomen op de laatste rolling van den Oudenaardschen Club, toen hij als een gewoon misdadiger in het rolleke werd gestopt, en hem zelf zijn schoenveters werden ontnomen “de peur qu’il ne se suiciderait!”.</p>
  <p>Nu is Reguul weg en wij kunnen het niet gelooven. Wie er aan de praesestafel van den Oudenaardschen ook plaats neme, steeds zien wij uw schuim, Reguul, voor ons, en mij dunkt, wij hooren reeds de sympathieke geluiden vloeien uit uwen sympathieken smikkel.</p>
  <p>Nu is Reguul dokter te Saffelare<sup>1</sup> en zijn eersten klant vond hij in ne café. Goed begonnen is half gewonnen.</p>
  <p>Reguul is doktoor, maar Reguul is gebleven, het student –trouwe abonné van den Uyl.<sup>2</sup> Soms komt het heimwee bij hem op naar de oude heerlijkheid, en hij huurt nen taxi en komt als de Oudenaardsche Club in volle gaz is, met de deur in huis vallen; en de studenten vireeren recht en ze kussen, gebogen ditmaal, het stof van zijn sandalen, en Reguul presideert als weleer en lanceert een parolleke tot de menigte.</p>
  <p>Neen, Reguul, gij zult nooit bourgeois worden, gij blijft de Vlaamsche en studentikoze studax!</p>
  
  <p><strong>Voetnoten</strong></p>
  <ol>
    <li>Zaffelare: deelgemeente van Lochristi.</li>
    <li>Den Uyl: maandelijks studentenblad van het Algemeen Vlaams Hoogstudentenverbond (AVHV), voorganger van de Vlaamse Vereniging van Studenten (VVS).</li>
  </ol>  
</div>