.container {
	margin: 0 auto;
	width: 960px;
}

.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}

/*
 * Generic column class. Sets the box-sizing property which is essential to this CSS grid.
 */

.column {
	padding: 0 20px;
	float: left;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container.column {
	float: none;
}


.spans-one { width: 80px; }
.spans-two { width: 160px; }
.spans-three { width: 240px; }
.spans-four { width: 320px; }
.spans-five { width: 400px; }
.spans-six { width: 480px; }
.spans-seven { width: 560px; }
.spans-eight { width: 640px; }
.spans-nine { width: 720px; }
.spans-ten { width: 800px; }
.spans-eleven { width: 880px; }
.spans-twelve { width: 960px; }

.skips-one { margin-left: 80px; }
.skips-two { margin-left: 160px; }
.skips-three { margin-left: 240px; }
.skips-four { margin-left: 320px; }
.skips-five { margin-left: 400px; }
.skips-six { margin-left: 480px; }
.skips-seven { margin-left: 560px; }
.skips-eight { margin-left: 640px; }
.skips-nine { margin-left: 720px; }
.skips-ten { margin-left: 800px; }
.skips-eleven { margin-left: 880px; }
.skips-twelve { margin-left: 960px; }



/*
 * Make the column clear the previous column.
 */

.clears {clear: both;}
/*
     FILE ARCHIVED ON 20:59:44 Mar 30, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:13:23 Apr 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 45.076 (3)
  esindex: 0.008
  captures_list: 63.119
  CDXLines.iter: 13.962 (3)
  PetaboxLoader3.datanode: 78.781 (5)
  exclusion.robots: 0.172
  exclusion.robots.policy: 0.159
  RedisCDXSource: 0.684
  PetaboxLoader3.resolve: 37.58 (2)
  load_resource: 125.615
*/