<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">De oprichting van onze club: een oud relaas</h2>
  
  <ul>
    <li>De club werd officieel op 16 november 1930 opgericht, doch de club kende reeds werking sinds een jaar. Zo vertellen de archieven dat de studentikoze Lovanienses die naar Gent gingen studeren in najaar 1929 een parallele werking opzetten naast die van hun Leuvense confraters, maar nog geen aparte club oprichtten. De archieven vermelden dat reeds op 20 februari 1930 een 3e clubavond (nu ‘cantus’ genoemd) te Gent werd gehouden. De officiële oprichting gebeurde pas het jaar nadien met het opstellen van statuten en het verkiezen van een praesidium.</li>
    <li>’s Avonds 16 november kwamen de stichters samen op het kot van Regule Depraetere met “drie flessen St. Estèphe, ‘n paar Bourgognes ex altero saeculo en een bak Caraibe bij de hand”. Honoré Claus had als rechtenstudent de statuten geschreven en die werden na enige correcties die avond goedgekeurd. Aldus werd die dag de officiële oprichtingsdatum.</li>
    <li>Mede-oprichter en oud-secretaris Hendrik Cornelis (dr. economie en lic. koloniale wetenschappen) werd op 5 juli 1958 benoemd tot Gouverneur-generaal van Belgisch Kongo (later eregouverneur-generaal), wat hij bleef tot de onafhankelijkheid op 30 juni 1960.</li>
    <li>De oprichters en het gros van de leden toen waren studenten die allen uit Leuven waren vertrokken om aan de Gentse en eerste Belgische ‘vernederlandste’ universiteit les te volgen. Het is ook niet toevallig dat toen de eerste&nbsp;Nederlandstalige&nbsp;regionale clubs zoals wij die nu kennen opgericht werden.</li>
    <li>De club werd officieel opgericht als ‘LAETITIA, Oudenaerdsche hoogstudentenclub’ , als zusterclub van de originele Leuvense Oudenaardse Club.</li>
    <li>De benaming ‘Oudenaardse Club – Laetitia’ werd evenzeer gebruikt. De benaming ‘Laetitia’ kwam er om onderscheid te maken met de zusterclub uit Leuven. In de studentenmond had men het in het begin over ‘den Oudenaardsen’ of ‘Laetitia’.</li>
    <li>De reden waarom ‘Laetitia’ al gauw de enige gebruikte benaming werd, vindt ongetwijfeld zijn oorzaak in het grote aantal Ronsenaars in de club en studenten uit andere gemeenten van de Vlaamse Ardennen. Decennia lang maakten de Ronsenaars zelfs de absolute meerderheid uit van de club. De traditie gaat dat tijdens het zingen van het clublied de studenten bij “d’Oudenaerdse zijn op ronde” de naam van hun eigen stad of gemeente zingen.</li>
    <li>Laetitia is Latijn voor vreugde, blijdschap.</li>
    <li>Het eerste clubcafé te Gent was de ‘Old Tom’, St. Pietersnieuwstraat 19.</li>
    <li>Laetitia was één van de 10 clubs die het SK Ghendt oprichtten.</li>
    <li>In 1966 en 1992 leverde Laetitia de Koning en Koningin der Bommels, ambassadeurs van dit jaarlijks carnavalsgebeuren te Ronse. In 1966 waren dit kersvers prosenior Jean-Paul Haustraete en Nadine Proot, in 1992 vice-praeses Kelly Onyn en schachtin Ann De Groote.</li>
    <li>Carlos Dierickx, praeses 1939-’40 en 1940-’41, werd acht maal burgemeester, van Asper en nadien van de fusiegemeente Gavere-Asper, telkens als onafhankelijke. Hij was immens populair, niet in het minst omdat hij zeer actief was in het plaatselijke verenigingsleven. In 1998, op 81 jaar, trad hij halverwege zijn ambtstermijn af wegens gezondsheidsredenen. Na zijn overleden in 2003, werd het gemeenteplein van Asper naar hem vernoemd en kreeg hij er een standbeeld.</li>
    <li>Studenten gingen vroeger niet zo vaak naar huis door o.a. moeilijker en duurder transport. Om zich tijdens het weekend te ontspannen gingen deze mannen -er waren toen nog geen vrouwelijke leden- steevast naar de voetbalwedstrijden van KAA Gent kijken. Ze werden op studentikoze wijze fervente supporters van de ploeg en brachten van deze wedstrijden een kreet mee naar het Gentse studentenleven, een kreet die bij KAA Gent zijn ingang vond door, alweer, studenten:
  <blockquote>“De naam Buffalo vond zijn oorsprong in het circus. In het begin van de 20ste eeuw kwam het megacircus “Barnum and Bailey” regelmatig naar Gent afgezakt, met standplaats aan het Arsenaal. Captain William Cody (bijgenaamd Buffalo Bill) liet tijdens zijn shownummers regelmatig de kreet “Buffalo , Buffalo” horen. Studenten van de Gentse Universiteit namen die kreet op zondag mee naar het voetbal en sindsdien is ze nooit meer uit de lucht geweest.”</blockquote>
  De clubleden van Laetitia gebruikten deze kreet dus regelmatig, waarschijnlijk ietsje teveel tijdens hun nachtelijke escapades, waardoor ze van hun Gentse medestudenten de bijnaam ‘Buffalo’s’ kregen.</li>
    <li>De club kende voor het eerst een vrouwelijk praesidiumlid, of beter -leden, in het academiejaar 1966-’67, toen Lucie Pot tot secretaris werd verkozen en Nadine Proot tot PR. Met Nele De Vriendt kende de club in 2002-’03 voor het eerst in haar geschiedenis een vrouwelijke praeses.</li>
  </ul>
  
</div>