<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Praesidium</h2>
  
  <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr><td><strong>Praeses</strong></td>           <td> Stijn Pauwels </td>      </tr>
    <tr><td><strong>Vice-Praeses</strong></td>      <td>Julie Segers</td>        </tr>
    <tr><td><strong>Penningmeester</strong></td>    <td>Brecht Pauwels</td>      </tr>
    <tr><td><strong>Secretaris</strong></td>        <td>Jana De Jonghe</td>         </tr>
    <tr><td><strong>Cantor</strong></td>            <td>Marchaud Wittouck</td>    </tr>
    <tr><td><strong>Schachtentemmer</strong></td>   <td>Jana De Jonghe</td>      </tr> 
    <tr><td><strong>Zedenmeester</strong></td>      <td>Quentin Bouchez</td>      </tr>
    </tbody>
  </table>  
</div>
