<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Activiteiten</h2>
  
  <ol class="activities activities-wide">
        <!-- <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Oudenaardse Kroegentocht</strong>
          <span class="activity-location">Oudenaarde</span>
          <span class="activity-time">18/09/2015 19:30</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Openingsclubavond (Gratis vat!)</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">21/09/2015 21:00</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Openingscantus</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">08/10/2015 20:30</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Cocktailavond</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">14/10/2015 21:00</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Doopcantus</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">22/10/2015 20:30</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Gravensteenfeesten</strong>
          <span class="activity-location">Gent</span>
          <span class="activity-time">11/11/2015</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Dies Constitutio (Gratis vat!)</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">16/11/2015 21:00</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Jeneveravond</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">19/11/2015 21:00</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Spelletjesavond</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">26/11/2015 21:00</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Klaascantus (en nadoop)</strong>
          <span class="activity-location">Latin Quarter</span>
          <span class="activity-time">03/12/2015 20:30</span>
        </a>
      </li>
        <li class="activity">
        <a class="clearfix">
          <strong class="activity-title">Massacantus</strong>
          <span class="activity-location">Flanders Expo</span>
          <span class="activity-time">09/12/2015 19:00</span>
        </a>
      </li> -->
    </ol>
  
        </div>
  
