<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Clublied</h2>
  <ol>
    <li>Komt makkers vrolijk aangeheven,<br>
      En aan ons herte lucht gegeven<br>
      In ‘t blijde Vlaamse lied,<br>
      En maken wij der stede konde,<br>
      Dat d’Oudenaerdse zijn op ronde<br>
      En die en zwijgen niet.<p></p>
      <p><em><strong>Refrein:</strong><br>
          Hoezee (ter), heft aan uit volle borste<br>
          Het lustig vreugdelied<br>
          Want d’Oudenaerdse zijn op ronde<br>
          Die kennen geen verdriet.</em></p>
    </li>

    <li>Wij sukkelen met ‘t exaam beladen<br>
      Al zwetend langs de droeve paden<br>
      Der dorre wetenschap,<br>
      Maar gaan na ‘t geestervermoeide werken<br>
      Ons ‘t afgeblokte lijf versterken<br>
      Met Vlaamse gerstensap.</li>

    <li>Wij minnen Vlaand’ren en zijn beemden<br>
      En wij verzwijgen niet voor vreemden<br>
      Ons gulden moedertaal,<br>
      Hoe and’ren ‘t ook miskennen dorsten,<br>
      Steeds blaken onze jonge borsten<br>
      Voor Vlaanderen, ‘t ideaal.</li>

    <li>Komt nogmaals, en uit volle longen<br>
      Het krachtig Vlaamse lied gezongen<br>
      Dat vreugde en leute baart.<br>
      Hoezee! De glazen volgeschonken<br>
      En op het duurzaam heil gedronken<br>
      Van ‘t dierbaar Oudenaerd!</li>
  </ol>

</div>
