<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Door wie werd Laetitia opgericht? Regule Depraetere en de anderen van de Oudenaardse Club</h2>
  
  <p>Het studentenleven in Leuven kende dus al sinds eind 19e eeuw zijn gilden, clubs en verenigingen. Eén van die gezelligheidsverenigingen werd in 1899-1900 opgericht en droeg de naam Audenaerdsche Klub, later verbeterd naar Oudenaerdsche Club en tenslotte Oudenaardse Club, ook wel Moeder Oudenaardse genoemd.</p>
  <p>Na het college vatte Regule Depraetere in 1925-'26 zijn studies geneeskunde aan in Leuven. Het verliep niet altijd van een leien dakje, getuigt zijn studentenfiche. Omdat de fiche soms onduidelijk oogt, werd deze hier overgetypt:</p>
  
  <p>
    1925-1926 Depraetere, Regule
    Né à Huysse (Audenaerde) le 12 juillet 1906
    Domicilié à ” Mr. fermier, 317, Keiteldries
    Faculté des sciences
    1925-1926 Science médecine (juillet, ajourné), (octobre, ajourné) – flam.
    1926-1927 Sc. médecine&nbsp;bis&nbsp;(juillet, satisfaction) + Méd. 1<sup>re</sup> candidature (octobre, ajourné) – flam.
    1927-1928 Méd. 1<sup>re</sup> cand.&nbsp;bis&nbsp;(juillet, distinction) + Méd. 2<sup>e</sup> cand. (onleesbaar*)
    1928-1929 Méd. 2<sup>e</sup> cand.&nbsp;bis&nbsp;(juillet, onleesbaar*), (octobre, satisfaction)
    1929-1930 Méd. 1<sup>er</sup> doctorat (juill., aj.), (oct., satisf.) – &nbsp;flam.
    * onleesbaar: iets in de trend van “pas prés.”, wat dan 'pas présent' zou kunnen betekenen. Dit is echter giswerk.
  </p>
  
  <div class="caption caption-center">
    <img class="caption-image" src="/assets/images/studentenfiche.jpg" alt="Studentenfiche Regule Depraetere" width="400" height="264">
    <p class="caption-text">
      Met dank aan het archief van K.U. Leuven
    </p>
  </div>
  
  <p>Regule was dus van Huise, nu deelgemeente van Zingem. Wat we uit deze fiche kunnen afleiden, is dat zijn pogingen om zijn examens af te leggen in het 'Vlaams' (flam.= flamand) niet het verhoopte resultaat hadden. Aldus deed Regule zijn geneeskundige opleiding hoofdzakelijk in het Frans. Er was een theoretische mogelijkheid om de leergangen in het Nederlands aan te bieden, maar deze Nederlandstalige leergangen kenden dus pas midden jaren '30 een voorzichtige opgang.</p>
  <p>Regule Depraetere vond in elk geval wel zijn gading in het Leuvense verenigingsleven en werd lid van de Oudenaardse Club. In 1929-'30 was hij senior van de Oost-Vlaamse Gilde (eerder symbolische titel) en raadslid van het pas opgerichte Seniorenkonvent Leuven. In vele werken, referenties naar het studentenleven en sommige boeken wordt over onze Oudenaardse Club – Laetitia geschreven dat deze opgericht is in 1929, maar toch bestaat enige verwarring desbetreffend. Het staat buiten kijf dat Regule en zijn confraters het plan opvatten om naar Gent te verkassen. Het Algemeen Vlaams Hoogstudentenverbond (AVHV) riep op om naar Gent te gaan met 'Vlaamse student, studeer in Gent' affiches.</p>
  <p>De verwarring in onze club, ook bij de oud-leden op leeftijd, was er door andere bronnen die spraken van 1930. Ook onze oprichtingsfoto vermeldt het bijschrift 'stichting 1930-'31', waardoor dus weinig kan getwijfeld worden over de officiële stichting van de club. De studentenfiche van Regule vermeldt ook dat hij nog steeds ingeschreven was te Leuven en hij was toen ook actief in het Leuvense studentenleven. De volledige vernederlandsing in Gent zou ook pas in 1930-31 officieel zijn. Dat en een artikeltje –zie verder– laten dus besluiten dat de officiële oprichtingsdatum 16 november 1930 is. Verschillende boeken, naast de eigen bronnen van de club, bvb. het 'Gedenkboek van de rijksuniversiteit te Gent na een kwart eeuw vervlaamsing.' (RUG, 1957) schrijven evenwel telkens over een oprichting anno 1929.</p>
  <p>Het ligt allemaal aan onze oprichter dr. Regule Depraetere, die zich meer clubstudent voelde dan geneeskundestudent. Hij zat immers al in academiejaar 1929-'30 op kot in Gent, maar vertoefde nog regelmatig in Leuven. Dat hij er les volgde, is onwaarschijnlijk, alleen in het begin dan nog. Het is aannemelijk te stellen dat hij zich dat jaar ook inschreef aan de RUG (vanaf 1930-'31 alvast zeker). Aan de KUL studeerde hij voorheen geneeskunde met een aangepast traject. Wat men tegenwoordig IAJ of GIT zou noemen. Het is ook zo dat studenten van toen veel mobieler waren dan men zou denken. Vanuit Leuven ging men toen soms zelfs naar de zee met de fiets en bezocht men andere oorden met de fiets. Studenten bleven immers maanden in hun universiteitsstad zonder naar huis te gaan. Studenten toen waren dus heel wat onafhankelijker van thuis dan tegenwoordig.</p>
  <p>Regule wordt praeses van de Oudenaardse Club in 1930-'31 te Gent en te… Leuven? Als men er de naslagwerken op nagaat wel. In theorie waren de 'twee clubs' qua leden één en de 'Gentse zusterclub' was de facto een afsplitsing van de 'Leuvense club'. Ze kwamen ook nog vaak broederlijk samen te Leuven en te Gent. Enkele andere leidende figuren die verhuisden, waren Jozef 'Jef' Van den Broeck (praeses Oudenaardse Club 1928-'29)<sup>1</sup>, Honoré Claus, Hendrik Cornelis<sup>2</sup>, Leopold-Jozef Van Bellinghen en Jef Walters.</p>
  <p>In realiteit, door deze situatie van 1 club &amp; 1 groep leden, was er een soort dubbelwerking ontstaan van dezelfde club, met één praesidium en dus één enkele praeses, maar in twee universiteitssteden. Immers, toen was er enkel Leuven qua Vlaamse clubs en dus had elke streek ook maar één mogelijke club in die traditie: namelijk de Leuvense. Maar zo werd dit niet bekeken. De studenten uit het Oudenaardse zagen hun club gewoon als de Oudenaardse Club met activiteiten in Leuven en Gent en niet als de Leuvense of Gentse Oudenaardse Club. Het leek hen toen niet echt onoverkomelijk om één club te hebben met leden uit eenzelfde streek en activiteiten in twee universiteitssteden. Daarom ook dat beide groepen ook vaak verbroederden.</p>
  <p>Heden zou men dit kunnen vergelijken met weekendclubs, alhoewel de situatie natuurlijk anders is. In elk geval hadden ze één Oudenaardse Club, met als praeses Depraetere, met leden en activiteiten te Gent en te Leuven. Ze hadden als student dus een gemeenschappelijke deler: hun streek van afkomst. Dat als student echter meer hun universiteitsstad van tel zou zijn tijdens hun studies, naast tal van praktische bezwaren, werd hen nadien ook duidelijk: Regule Depraetere bleef praeses, van de Gentse club die toen officieel opgericht werd als de Oudenaardse Club – Laetitia (een onderscheidend bijvoegsel) en in Leuven werd een nieuwe, aparte, praeses verkozen, nl. Calixte Ronsse.</p>
  <p>Zo werd aldus Laetitia geboren, uit de tweedeling van dé Oudenaardse Club. Men kan dus besluiten dat er reeds werking was in 1929 als Oudenaardse Club te Gent, maar dat er pas officieel en formeel een aparte Gentse zusterclub opgericht werd op 16 november 1930, dag van de eerste –statutaire- vergadering van de Gentse afdeling. Wat is het verschil? Een formeel verschil ten eerste, en twee aparte praesidia en werkingen, alhoewel beide clubs nog jaren zouden verbroederen.</p>
  <p>Tegenwoordig is LAETITIA in jaartallen de oudste Gentse regionale club, nl. de enige club waarvan de werking nooit gestaakt werd, ook niet tijdens de oorlogsjaren. Helaas, de Oudenaardse Club te Leuven (najaar °1900) gaf de geest omstreeks 1968, waardoor de Gentse de enige erfgenaam blijft van de gezamenlijke geschiedenis.</p>
  
  
  
  <div class="caption caption-center">
    <img class="caption-image" src="/assets/images/seniorenkonvent-leuven.jpg" alt="Seniorenkonvent Leuven" width="400" height="264">
    <p class="caption-text">
      Seniorenkonvent Leuven (foto: Archief en Museum van het Vlaams Studentenleven)
    </p>
  </div>
  
  <p><strong>Voetnoten</strong></p>
  <ol>
    <li>HUYS, J., (ed.), VAN DE WEYER, S., De studentikoze erfenis van Rodenbach. Acco, Leuven, 2006, 453 pp.</li>
    <li>Hendrik 'Rik' Cornelis was eregouverneur-generaal van Belgisch Kongo van 1958 tot de onafhankelijkheid in 1960. Hij stond bekend als socialistisch flamingant.</li>
  </ol>
  
</div>