<div class="site-container container clearfix">

		<div class="site-header clearfix">
			<h1 class="site-header-title">
				<a href="/">
					<img src="/assets/images/schild-header.png" width="60" height="80" class="site-header-logo">
					Studentenclub Laetitia
				</a>
			</h1>
		</div>

		<div class="site-sidebar column spans-four clearfix">

			<a href="https://www.facebook.com/laetitia.gent" class="facebook-button">
				<img src="/assets/images/facebook-logo.png" height="29" width="29">
				Vind ons leuk op Facebook
			</a>
			
			<ul class="site-navigation clearfix">
				<li routerLink="/home" routerLinkActive="active"><a>Welkom</a></li>
				<li routerLink="/activiteiten" routerLinkActive="active"><a>Activiteiten</a></li>
				<li routerLink="/proseniores" routerLinkActive="active"><a>Proseniores</a></li>
				<li routerLink="/praesidium" routerLinkActive="active"><a>Praesidium</a></li>
				<li routerLink="/geschiedenis" routerLinkActive="active"><a>Geschiedenis</a></li>
				<li routerLink="/schild" routerLinkActive="active"><a>Schild</a></li>
				<li routerLink="/statuten" routerLinkActive="active"><a>Statuten</a></li>
				<li routerLink="/clublied" routerLinkActive="active"><a>Clublied</a></li>
			</ul>
    </div>
    <router-outlet></router-outlet>
    </div>
