<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Welkom </h2>

  <p>Laetitia is een Vlaams regionale studentenclub van en voor in Gent studerende&nbsp; jongeren uit Oudenaarde, Ronse
    en omstreken. We bestaan dit academiejaar 92 jaar. Hiermee is Laetitia de oudste studentenclub in Gent die continu
    is blijven bestaan. Laetitia staat dan ook garant voor een studentikoze stijl…</p>

  <h3>Welke voordelen biedt Laetitia?</h3>
  <p>Een studentenclub zorgt ervoor dat er na schooltijd ontspanning voorzien wordt. Financieel is een studentenclub
    interessant aangezien een club tal van activiteiten organiseert aan studentikoze prijzen! Er wordt korting gegeven
    op diverse activiteiten zoals bvb. een bioscoopbezoek, een partijtje bowlen, een kroegentocht enz… Een studentenclub
    is trouwens erg aantrekkelijk om nieuwe mensen te leren kennen. Er worden vriendschappen gesloten voor het leven!
  </p>

  <h3>Wat organiseert Laetitia?</h3>
  <p>Om vele jaren van ervaring en traditie niet onopgemerkt te laten, worden verschillende in het oog springende
    activiteiten op touw gezet. Enkele voorbeelden hiervan zijn: een galabal, een steakfestijn, deelname aan de
    carnavalstoet De Bommels (met de studentenfanfare van Gent), een brouwerijbezoek, een Laetitia-weekend aan zee, een
    Laetitia-week in de ardennen, enz… Verder is Laetitia ook aanwezig bij vele andere grootse activiteiten zoals de
    Gravensteenfeesten, de Gentse massacantus, de Oudenaardse Bierfeesten, de T-shirt rolling van het SK Ghendt, The
    Night of the Proms (samenwerking met SK Ghendt), de rolling in Leuven, de Gentse feesten, enz.</p>
  <p>Er worden ook nog andere activiteiten georganiseerd zoals cantussen, film- en clubavonden, zangavond, caférolling,
    cocktailavond, gratis vaten, lasershooten, paint-ballen, spelavonden, enz… Ook onze sportieve medemensen worden niet
    vergeten. Er worden activiteiten georganiseerd zoals (mini-)voetbal, zwemmen, mountainbiken, lopen, basketten,
    bowlen, ijsschaatsen,… Er wordt ook deelgenomen aan toernooien met andere studentenclubs (in samenwerking met het SK
    Ghendt).</p>

  <h3>Waar kun je Laetitia vinden?</h3>
  <p>Wil je ons leren kennen of je inschrijven? Kom dan eens langs in ons clubcafé, de
    <strong>
      <a href="https://www.facebook.com/deliriumoverpoort">Delirium</a>
    </strong>. 
    Elke woensdag hebben wij daar onze clubavond om 21 uur.
  </p>
</div>
