<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Proseniores</h2>
  
  <table cellspacing="0" cellpadding="0">
    <thead>
    <tr><th width="30%">Jaar</th><th width="70%">Senior</th></tr>
    </thead>
    <tbody>
    <tr><td>1929-1930</td>    <td>Regule De Praetere</td></tr>
    <tr><td>1930-1931</td>    <td>Regule De Praetere</td></tr>
    <tr><td>1931-1932</td>    <td>Regule De Praetere</td></tr>
    <tr><td>1932-1933</td>    <td>Jozef T’Sjoen</td></tr>
    <tr><td>1933-1934</td>    <td>H. Vandenbulcke</td></tr>
    <tr><td>1934-1935</td>    <td>Maurice Delmeire</td></tr>
    <tr><td>1935-1936</td>    <td>Cyriel Colle</td></tr>
    <tr><td>1936-1937</td>    <td>Jules Beyens</td></tr>
    <tr><td>1937-1938</td>    <td>Jules Beyens</td></tr>
    <tr><td>1938-1939</td>    <td>Michel Van den Bossche</td></tr>
    <tr><td>1939-1940</td>    <td>Carlos Dierickx</td></tr>
    <tr><td>1940-1941</td>    <td>Carlos Dierickx</td></tr>
    <tr><td>1941-1942</td>    <td>Luc Reyntjens</td></tr>
    <tr><td>1942-1943</td>    <td>Luc Reyntjens</td></tr>
    <tr><td>1943-1944</td>    <td>Maurice Eeckhout</td></tr>
    <tr><td>1944-1945</td>    <td>Maurice Eeckhout</td></tr>
    <tr><td>1945-1946</td>    <td>Richard Vanderstock</td></tr>
    <tr><td></td>             <td>Marcel Declercq</td></tr>
    <tr><td>1946-1947</td>    <td>Piet Van Deursen</td></tr>
    <tr><td>1947-1948</td>    <td>Piet Van Deursen</td></tr>
    <tr><td>1948-1949</td>    <td>Pierre Devos</td></tr>
    <tr><td>1949-1950</td>    <td>Jos Van Deursen</td></tr>
    <tr><td>1950-1951</td>    <td>Jos Van Deursen</td></tr>
    <tr><td>1951-1952</td>    <td>Herman De Backer</td></tr>
    <tr><td>1952-1953</td>    <td>Etienne D’Haene</td></tr>
    <tr><td>1953-1954</td>    <td>Roland Van Opbroecke</td></tr>
    <tr><td>1954-1955</td>    <td>Herman De Backer</td></tr>
    <tr><td></td>             <td>Jacques Vandevelde</td></tr>
    <tr><td>1955-1956</td>    <td>Guido Vyncke</td></tr>
    <tr><td>1956-1957</td>    <td>Gilbert Strumane</td></tr>
    <tr><td>1957-1958</td>    <td>Dirk De Vriendt</td></tr>
    <tr><td>1958-1959</td>    <td>Luc Declercq</td></tr>
    <tr><td>1959-1960</td>    <td>Etienne Bourgeus</td></tr>
    <tr><td>1960-1961</td>    <td>André De Buyst</td></tr>
    <tr><td>1961-1962</td>    <td>Etienne Planchon</td></tr>
    <tr><td>1962-1963</td>    <td>Kris Vansteenbrugge</td></tr>
    <tr><td>1963-1964</td>    <td>Jean-Paul Haustraete</td></tr>
    <tr><td>1964-1965</td>    <td>Jean-Paul Haustraete</td></tr>
    <tr><td>1965-1966</td>    <td>André De Smet</td></tr>
    <tr><td>1966-1967</td>    <td>Etienne Vandenhaute</td></tr>
    <tr><td>1967-1968</td>    <td>Luc Hanssens</td></tr>
    <tr><td>1968-1969</td>    <td>Jacques Verlinden</td></tr>
    <tr><td>1969-1970</td>    <td>Gerard Eeckhaut</td></tr>
    <tr><td>1970-1971</td>    <td>Patrick De Jaegher</td></tr>
    <tr><td>1971-1972</td>    <td>José Demeester</td></tr>
    <tr><td>1972-1973</td>    <td>Calix De Clercq</td></tr>
    <tr><td>1973-1974</td>    <td>Claude Devemie</td></tr>
    <tr><td>1974-1975</td>    <td>Jacques De Baere</td></tr>
    <tr><td>1975-1976</td>    <td>Jacques De Baere</td></tr>
    <tr><td>1976-1977</td>    <td>Michel Geenens</td></tr>
    <tr><td>1977-1978</td>    <td>Luk De Bock</td></tr>
    <tr><td>1978-1979</td>    <td>Johan L’Ecluse</td></tr>
    <tr><td>1979-1980</td>    <td>Claude Schepens</td></tr>
    <tr><td>1980-1981</td>    <td>Patrick Ghysels</td></tr>
    <tr><td>1981-1982</td>    <td>Jean-Luc Derycke</td></tr>
    <tr><td>1982-1983</td>    <td>Guy Blanquaert</td></tr>
    <tr><td>1983-1984</td>    <td>Luc Weymeels</td></tr>
    <tr><td>1984-1985</td>    <td>Peter Rillaert</td></tr>
    <tr><td>1985-1986</td>    <td>Geert Reygaert</td></tr>
    <tr><td>1986-1987</td>    <td>Maarten Van den Broeck</td></tr>
    <tr><td>1987-1988</td>    <td>Luc Blommaert</td></tr>
    <tr><td>1988-1989</td>    <td>Willem Devos</td></tr>
    <tr><td>1989-1990</td>    <td>Luc Lauwers</td></tr>
    <tr><td>1990-1991</td>    <td>Frank Fivez</td></tr>
    <tr><td>1991-1992</td>    <td>Jurgen De Venter</td></tr>
    <tr><td>1992-1993</td>    <td>Hendrik Hubau</td></tr>
    <tr><td>1993-1994</td>    <td>Bruno Verhoken</td></tr>
    <tr><td>1994-1995</td>    <td>Christophe De Paepe</td></tr>
    <tr><td>1995-1996</td>    <td>Ewald Van Cauwenberghe</td></tr>
    <tr><td>1996-1997</td>    <td>Gregory De Staercke</td></tr>
    <tr><td>1997-1998</td>    <td>Lieven Bogaert</td></tr>
    <tr><td>1998-1999</td>    <td>Domien Hamerijck</td></tr>
    <tr><td>1999-2000</td>    <td>Gregory Trauwaert</td></tr>
    <tr><td>2000-2001</td>    <td>Cédric Stockman</td></tr>
    <tr><td>2001-2002</td>    <td>Cédric Stockman</td></tr>
    <tr><td>2002-2003</td>    <td>Nele De Vriendt</td></tr>
    <tr><td>2003-2004</td>    <td>Christophe Bostyn</td></tr>
    <tr><td>2004-2005</td>    <td>Andy Laurier</td></tr>
    <tr><td>2005-2006</td>    <td>Dimitri Bostyn</td></tr>
    <tr><td>2006-2007</td>    <td>Fritsjof Verhellen<sup>1</sup> </td></tr>
    <tr><td></td>             <td>Philippe Cappon</td></tr>
    <tr><td>2007-2008</td>    <td>Jan Schepens<sup>2</sup> </td></tr>
    <tr><td></td>             <td>Liesbeth Dossche</td></tr>
    <tr><td>2008-2009</td>    <td>Willem Coorevits</td></tr>
    <tr><td>2009-2010</td>    <td>Bart Dunnoy</td></tr>
    <tr><td>2010-2011</td>    <td>Sarah Nijs</td></tr>
    <tr><td>2011-2012</td>    <td>Tom Heyse</td></tr>
    <tr><td>2012-2013</td>    <td>Bart Dunnoy</td></tr>
    <tr><td>2013-2014</td>    <td>Marlot Cruypeninck</td></tr>
    <tr><td>2014-2015</td>    <td>Toon Delaruelle</td></tr>
    <tr><td>2015-2016</td>    <td>Céline Supply</td></tr>
    <tr><td>2016-2017</td>    <td>Quirine Supply</td></tr>
    <tr><td>2017-2018</td>    <td>Quirine Supply</td></tr>
    <tr><td>2018-2019</td>    <td>Quirine Supply</td></tr>
    <tr><td>2019-2020</td>    <td>Stijn Pauwels</td></tr>
    <tr><td>2020-2021</td>    <td>Stijn Pauwels</td></tr>

    </tbody>
  </table>
  
  <p><sup>1</sup> Afgezet wegens wanbeheer.<br>
  <sup>2</sup> Trad af aan het begin van het academiejaar.</p>
  
        </div>
  
