<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">De oprichting van onze club: een oud relaas</h2>
  
  <p><em>Bij het doorzoeken van de archieven van de UGent vonden wij een ludiek artikel over het ontstaan van onze club. Ziehier het artikel uit het studentenblad van het SK, de Katrol, februari-maart 1936, overgetypt zoals het er stond.</em></p>
  
  <h3>Oudenaerdsche Club</h3>
  <p>Ter gelegenheid van de honderdste verjaardag van België, van de tentoonstelling te Antwerpen, van de Gezellegebeurtenissen te Brugge en ‘t vallen van ‘t Fransche ministerie werd onze hoogeschool vervlaamscht. Enkele honderden studenten uit Leuven spoelden naar Gent: ook ‘n paar Oudenaerdsche spoelden mee.</p>
  <p>Helaas! De Lovanienses voelden zich te Gent niet thuis: geen Gilden, geen clubs, geen studentenleven, geen organisatie, een leemte!De maand October ging eentoonig… Met November stak men de koppen wat dichter bij elkaar: uit elke gouw verschenen mannen die de leemte voelden en zich bereid verklaarden dien put te helpen vullen. De clubs kiemden in elke provincie.</p>
  <p>16 November 30 bracht op ‘t kot van Regule (18 Magheleinstraat) drie flessen St. Estèphe, ‘n paar Bourgognes ex altero saeculo, ‘n bak Caraibe en 5 kloeke laatste of voorlaatstejaars, vertegenwoordigende 489 kilos studenten vleesch en honderd per honderd goede inzichten en werklust. Ze waren: Honoré Claus, advocatus sed non latro, Rik Cornelis en Tjévie Walters, handelswetenschappers, Broeckie en Regule Depraetere, 205 kil. medicijnen.</p>
  <p>De statuten zaten reeds in de zak van de advocaat. Hij declameerde ze zelf voor terwijl Cornelis protesteerde, Tjévie Walters zweeg, Broeckie ‘n vierde sigaar opsnokte en Regule schonk. ‘n Kleine correctie nog en de club was gesticht, groepeerende alle vlaamsche hoogstudenten uit den ‘oudenaerdschen lande’ studeerende aan ’s Rijksuniversiteit of ‘n hooger instituut. De geboorte-akt werd volgens aloude geplogendheden in tegenwoordigheid van 2 getuigen opgemaakt. Het kind bleek na grondig onderzoek door de twee deskundigen uit de medische faculteit lichtjes over te hellen naar de vrouwelijke sekse en kreeg de naam ‘LAETITIA’, Oudenaerdsche hoogstudentenclub te Gent met roodgeel-rood.</p>
  <p>En nu vooruit! Op zoek naar leden, schachten, ‘n vergaderzaal en vooral naar eereleden… Men sliep niet, want reeds de volgende week ging de eerste algemeene vergadering in ‘De Graaf Egmont en Hoorn’ – ‘n geschikt zaaltje met verhoog en piano- waar ‘n tea-room-dancing schommelt.</p>
  <p>De bestuursvergadering was vol spanning want met 25/26 werd Regule praeses en ook vader van al die mannen te gader.</p>
  
  <blockquote><p>Honoré die schachten drilt en ment koos plaats als onderpresident.<br>
  De schrijver noemde Rik Cornelis want men wist: ‘voor hem nooit iets te veel is’.<br>
  Jef Walters zonder complimenten moest zorgen voor geld en centen.<br>
  En Broeckie met vloeken en gebeden kommandeerde plicht en zeden.</p></blockquote>
  
  <p>Dien avond werd er lustig geklonken en zeer laat op ‘Laetitia’ gedronken.</p>
  <p>Mag ik hier wel beweren, dat het van dien stonde af gedaan was en voor altijd ‘Amen en uit’ met die andere ‘club d’Audenarde’, ‘Ametia’ waar ‘n paar heethoofdige franskillons een tiental collegebroekventjes of vakschooljongens in eigen streek mee dweepten. Die overwinning was misschien het schitterendste succes van het program der eerste vijf jaar. Van toen af rolde de club — onder ijzere handen, met orde en tucht — van bloeiend tot bloeiender. Leuven kwam met dertig man verbroederen. Tak Curegem was er 100 percent. Rugcam, Rodenbach, Meetjesland en Domper sympathiseerden. Broeckie rijmde liedjes en Sonske en S.B. zongen ze met kleur tot in het pandoerenkot. Oh! Dat pandoerenkot dat ons ‘n nacht planken en ‘n kliniekabsentie bracht met scheeven afloop, en als ‘dessert’ ‘n vierdubbel proces voor de correctionele rechtbank, den dag zelf van ons bombardement tot ‘docteur en médecine, chirurgie et accouchements’.</p>
  <p>Heilig, heilig, driemaal heilig was het oud Oudenaerdsch lid, advokaat De Cordier, die het tot een volledige vrijspraak bracht, met ekskuses van de jury (bijna) en zoo de eersten steen legde van zijn later privaatsekretarisschap van de minister van landbouw.</p>
  <p>Ik lieg niet als ik vooropstel, dat in haar tweede jaar Laetitia aan de spits stond van het Gentsch studentenleven. Immers, we telden in ons midden en dit in hetzelfde jaar: Maurits Vandemeulebroucke, praeses van de Geneeskundige, M. Van Thielen, van de Chemische, Fons De Vreeze, praeses van het Rechtsgebootschap, Rik en Walters, bestuursleden van de ‘Handelskring’, Depraetere, praeses van K.V.H.V. Dus naast de leute vooral den ernst.</p>
  <p>Is het wel noodig te wijzen op het deel dat we gehad hebben in de Hulin de Loo-historie<sup>1</sup> met onzen Berten, in de Daelsmanifestatie<sup>2</sup> enz. met een woord in al de stoeten of protesten waar het Vlaamsch karakter moest op den voorgrond treden — of herinneren aan onze nachtelijke esbattementen —, onze uitbating van den ‘café Métropole’ bij Miesken, onze troostbezoeken aan de geteisterde brouwerijen ‘Krüger’ en ‘Roman’ met noodlottig verloop voor de nieuwe broek van Provost, onze inval in de kelders De Staercke–Jouret, onze ritjes naar de bootjes varing te Terdonck met onzen terugtocht met-of-zonder trein, met-of-zonder bolhoed, of even stil te staan bij ‘t visioen van onze jaarlijkse soupeetjes in St. Martens Laetem, waar het guldenboek der gemeente en de leege flesjes van onze aanwezigheid getuigden, en de tuyau de porrekens ’s anderendaags, met slaap in de amoureuse oogskens om onze afwezigheid treurden (Oh verliefden ‘t Sjoen en osseliken S.R.). Laetem waar onze laatste jaars jammerden om hun moeten gaan en onze schachten kwinkeleerden om hun ‘gekomen-zijn’.</p>
  <p>Vele dingetjes die ‘t melden waard zijn en vele namen die eens ‘illuster’ waren, vergeet ik hier; doch één zaak toch weet ik zeker en die luidt: sinds 1930 ging ‘Laetitia’ onder Regule, de dikbuikige; ‘t Sjoen, de verliefde; Umberto, de bridgende; Delmeire ofte Mijnheer Merist en ‘t klein Sirielke ofte de lange Colle, steeds hooger en hooger kweekte nieuw jong bloed, stond steeds trouw aan ‘t verbond en wil nu nog zijn: ‘n kleine maar trouwe schakel in de lange keten van ‘t Seniorenkonvent (Oh Rik met den baard)<sup>3</sup>.</p>
  <p>Het kenmerk van den Oudenaerdschen Club is en blijft naast orde en tucht: ‘de vriendschap’. De maandelijksche vriendschappelijkheid in de clubvergadering, de wekelijksche bij het terug gaan in eigen streek, maar vooral de dagelijksche vriendschappelijkheid bij pijp en pint in ons stamlokaal ‘Old Tom’.</p>
  
  <div class="caption caption-center">
    <img class="caption-image" src="/assets/images/oprichters.jpg" alt="De oprichters van Laetitia">
    <p class="caption-text">
      De oprichters van Laetitia
    </p>
  </div>
  
  <blockquote><p>De vriendschap was steeds den vasten grond<br>
  De basis, waarop ons clubleven stond,<br>
  De vriendschap lag in ons betrachten<br>
  Die zelfde vriendschap gaf ons krachten<br>
  ‘t Is d’oude vriendschap, en zij gansch alleen,<br>
  die ons op ‘t lustrum brengt te Gent bijeen.<br>
  Zoo komen we toch naar de hoogeschool weer!<br>
  <br>
  ‘t koningske!</p></blockquote>
  
  <p><strong>Voetnoten</strong></p>
  <ol>
    <li>Georges Hulin De Loo (1862-1945): hoogleraar filosofie, sociale geschiedenis en kunstgeschiedenis aan de Gentse universiteit. Als overtuigd francofoon kreeg hij het geregeld aan de stok met de Vlaamse studenten, die hem zelfs op straat uitjouwden. Hij was hevig gekant tegen de vernederlandsing van de Gentse universiteit, doceerde in het Frans en lag daardoor aan de basis van een regeringscrisis tijdens de regering Jaspar II (1931).</li>
    <li>Frans Daels (1882 – 1974): gynaecoloog, ijverde o.a. voor de vernederlandsing van de Gentse rijksuniversiteit (1930).</li>
    <li>Rik Wijckmans: één der oprichters van het SK Ghendt en Senior Seniorum 1934-’35 en 1935-’36.</li>
  </ol>
  
</div>