<div class="site-body column spans-eight clearfix">
  <h2 class="site-body-title">Geschiedenis</h2>
  
  <ul>
    <li><strong><a href="/geschiedenis/historische-context">Historische context</a></strong> (<em>Door Christophe Bostyn, senior 2003-’04</em>)</li>
    <li><strong>Van de oprichting van onze club tot het eerste lustrum</strong> (<em>Door Christophe Bostyn, senior 2003-’04</em>)
  <ul>
    <li><a href="/geschiedenis/oprichters">Door wie werd Laetitia opgericht? Regule Depraetere en de anderen van de Oudenaardse Club</a></li>
    <li><a href="/geschiedenis/oprichting">De oprichting van onze club: een oud relaas</a></li>
    <li><a href="/geschiedenis/regule">Het afscheid van dokter Regule</a></li>
  </ul>
  </li>
    <li><strong>De aanloop naar de oorlogsjaren en tijdens WOII </strong>(<em>Door Piet Van Deursen, senior 1946-’49</em>)
  <ul>
    <li>De aanloop en het tweede lustrum</li>
    <li>De Tweede Wereldoorlog</li>
  </ul>
  </li>
    <li><strong>Het naoorlogse lustrum en de bezetting van het Gravensteen </strong>(<em>Door Pierre Devos, senior 1949-’50</em>)
  <ul>
    <li>Na de oorlog</li>
    <li>De bezetting van het Gravensteen</li>
  </ul>
  </li>
    <li><strong><a href="/geschiedenis/weetjes">Weetjes</a></strong></li>
  </ul>
  
        </div>