  <div class="site-body column spans-eight clearfix">
<h2 class="site-body-title">Schild</h2>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-1.gif" alt="Het huidige schild van Laetitia">
<p class="caption-text">
  Het huidige schild van Laetitia
</p>
</div>

<p>Het schild van Laetitia is er één volgens de studentikoze gebruiken: aan de bovenzijde van het schild bevindt zich de naam van de club. Aan de linkerkant van het schild vindt men het regionale wapen en aan de rechterkant de clubkleuren met het studentikoze monogram van de club.</p>
<p>Laetitia koos toen voor de Vlaamse Leeuw (zie geschiedenis, het arrondissement Oudenaarde heeft geen specifiek wapen) en als kleuren werden de kleuren van de Stad Oudenaarde gebruikt: rood en geel. Aangezien regionale clubs steeds 3 kleuren hadden en hebben, werd dit rood-geel-rood. Daarin vindt men het studentikoze monogram terug, met de letters V, C, F en L in één pennentrek uitgevoerd. Deze staan voor het Latijnse ‘<em>Ut vivat, crescat et floreat Laetitia!</em>’, wat zoveel betekent als ‘<em>Dat Laetitia leve, groeie en bloeie</em>!’</p>


<h3>Het eerste schild</h3>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-2.gif" alt="Het eerste schild">
<p class="caption-text">
  Het eerste schild
</p>
</div>

<p>Het eerste schild, sinds de oprichting en verloren gegaan ergens in de late jaren ‘50, heeft net dezelfde opbouw als de vlag van toen. Aan de bovenkant vond men toen de Oudenaardse bril van Hanske de Krijger terug. Aangezien de club opgericht is door overgewaaide commilitones van de Oudenaardse Club te Leuven, hebben deze vele kenmerken (zoals het clublied) overgenomen van de Leuvense zusterclub, die eind jaren ’60 teloor ging.</p>
<p>De Vlaamse Leeuw bevond zich niet in de Leuvense versie, waar ’t de Leeuw was met horizontale stroken in rood en geel, zoals in het Oudenaardse wapen. Aangezien de oprichters in Gent eerder van ’t arrondissement Oudenaarde waren dan van Oudenaarde (Zingem, Ronse e.a.), werd de Vlaamse Leeuw gekozen als wapen. Het monogram werd toen iets afwijkend getekend, met de L die van boven zijn oorsprong vindt i.p.v. in het midden. Dit werd nadien gecorrigeerd.</p>


<h3>Het tweede schild</h3>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-3.gif" alt="Het tweede schild">
<p class="caption-text">
  Het tweede schild
</p>
</div>

<p>Het tweede schild,in gebruik genomen na ’t verdwijnen van ’t vorige, is nog steeds in gebruik op cantussen e.d. Hierboven bevindt zich de analoge versie die op papier gebruikt werd (evenwel zonder de naam erboven). Zoals men kan opmerken, heeft de Vlaamse Leeuw een kroontje gekregen. Vroeger was er discussie of de Vlaamse Leeuw al dan niet een (graven-)kroon diende te dragen, maar de Heraldische Raad keurde dit af, aangezien dit nergens terug te vinden was. Een andere, minder plausibele, verklaring kan zijn of men niet foutief de Gentse Leeuw is gaan gebruiken op een gele achtergrond. Dat is men later in elk geval wel gaan doen…</p>


<h3>Het derde schild</h3>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-4.gif" alt="Het derde schi">
<p class="caption-text">
  Het derde schi
</p>
</div>

<p>Het wapen van het derde –papieren- schild heeft wel erg veel weg van de Gentse Leeuw. Ook op de linten kon men het zo terugvinden.&nbsp;Dit schild werd vanaf de jaren ’80 gebruikt tot eind jaren ’90.&nbsp;Of de oorzaak een verkeerd genaaid lint is of ’t gevolg, is niet geweten. De linten werden toen wel in Gent gemaakt…&nbsp;Hier probeerde men meer contrast aan te brengen in zwart-wit door de rode stroken te arceren.</p>


<h3>Het vierde schild</h3>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-5.gif" alt="Het vierde schild">
<p class="caption-text">
  Het vierde schild
</p>
</div>

<p>De leeuw uit dit schild is al enigszins beter, maar de leeuw draagt nog steeds een kroon. Deze versie werd overgenomen uit de KVHV-codex vanuit de jaren ’90. Voorheen waren de codices uitgegeven door het SK Ghendt, waarin de versies van het tweede schild konden teruggevonden worden.</p>


<h3>Het huidige schild</h3>

<div class="caption caption-center">
<img class="caption-image" src="/assets/images/schild-1.gif" alt="Het huidige schild van Laetitia">
<p class="caption-text">
  De oprichters van Laetitia
</p>
</div>

<p>Het huidige schild gaat terug naar de wortels: de Vlaamse Leeuw erop is een exacte digitale kopie van de Vlaamse Leeuw op de vlag die sinds de oprichting meegaat. Verder is alles ongeveer bij het oude gebleven: het monogram, de naam vanboven, de kleuren. Kort samen gevat: dit is de allerlaatste, want perfecte, versie!</p>

    </div>
